Django
djangorestframework
psycopg2-binary
django-cors-headers
djangorestframework-simplejwt
Pillow
python-dotenv
supabase
pytest
pytest-django
gunicorn
dj-database-url
hiredis
prometheus_fastapi_instrumentator