Django
djangorestframework
psycopg2-binary
django-cors-headers
djangorestframework-simplejwt
Pillow
python-dotenv
supabase
pytest
pytest-django
gunicorn
dj-database-url
hiredis
prometheus_fastapi_instrumentator

fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
asyncpg
alembic
python-dotenv
pika
email-validator
cryptography
aiofiles
pywin32
httpx
bcrypt